.Block7 {
  background-color: #FFF1C1;
  padding: 100px 0;
  .ButtonComponent {
    // background-color: aquamarine;
  }

  .Block7__swiper-slide{
    width: 100%;
    margin: 20px 0;

    
    p{
      font-family: Roboto, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #696969;

      margin: 30px 0;
    }

    .slide-image{
     margin-right: 30px;
    }

    .slide-header{
      display: flex;
      width: 100%;
      margin: 60px 0;
    }

  }

  @media screen and(max-width: 1920px) {
    
  }
}