.Block7 {
  background-color: #fff1c1;
  padding: 150px 0;

  .ButtonComponent {
    text-align: center;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and(max-width: 576px) {
      margin-top: 0;
    }
  }

  .Block7__swTitle {
    padding: 0;
    margin: 0;

    @media screen and(max-width: 576px) {
      // height: 50px;
    }
  }


  .swiper-controls {
    margin: 0;
  }

  h2 {
    font-family: 'SFProDisplay-Bold';
    font-size: 64px;
    line-height: 76px;
    padding-bottom: 50px;

    color: #202020;

    @media screen and(max-width: 576px) {
      padding-bottom: 20px;
      font-size: 24px;
      line-height: 29px;
    }
  }

  h3,
  h4 {
    @media screen and(max-width: 576px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .swiper-controls__cont {
    position: relative;
    z-index: 30;
    margin-bottom: -60px;
  }

  .swiper-btn {
    width: 60px;
    height: 60px;
  }

  .slide-text {
    @media screen and(max-width: 992px) {
      padding-top: 50px;
    }
  }

  ul li::before {
    position: absolute;
    margin-left: -30px;
  }

  .Block7__swiper-slide {
    width: 100%;
    // margin-top: -50px;
    // position: relative;
    // z-index: 50;

    p {
      font-family: Roboto, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #696969;

      margin: 30px 0;

      @media screen and(max-width: 576px) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    .Slide_h4 {
      padding-top: 40px;
      @media screen and(max-width: 576px) {
        padding-top: 10px;
      }
    }

    .slide-image {
      padding-right: 30px;

      img {
        border-radius: 8px;
      }
    }

    .slide-header {
      display: flex;
      width: 100%;
      padding-bottom: 30px;
    }
  }

  @media screen and(max-width: 576px) {
    padding: 100px 10px;
  }
}
