.Block4 {
  padding: 0;
  padding-top: 150px;
  padding-bottom: 150px;

  .Block4__title {
    font-family: 'SFProDisplay-Medium';
    font-size: 64px;
    line-height: 76px;
    color: #202020;
  }

  .Block4__Row1 {
    margin: 0;

    .Block4__card {
      padding: 0px;
    }
  }
}
