.Block3 {
  background-color: #ffecae;
  padding-top: 150px;
  padding-bottom: 150px;

  .Block3__cardsCol {
    padding-right: 60px;
    padding-bottom: 50px;

    .Block2Card__subtitle {
      justify-content: start !important;
      flex-wrap: wrap;

      .Block2Card__subtitleIcon {
        width: 100%;
        padding-bottom: 35px;
      }

      .Block2Card__subtitleText {
        width: 100%;
        font-family: 'SFProDisplay-Bold';
        font-size: 20px;
        line-height: 24px;
      }
    }

    @media screen and(max-width: 576px) {
      padding-right: 0;
      padding-bottom: 30px;

      .Block2Card__subtitleText {
        font-size: 32px;
        line-height: 38px;
      }
    }
  }

  .Block3__bottom {
    padding: 20px;
    padding-bottom: 0;
  }

  @media screen and(max-width: 576px) {
    padding-top: 50px;
    padding-bottom: 0px;
  }
}
