.Block2 {
  background-color: #ffffff;
  min-height: 400px;

  .ButtonComponent {
    // background-color: aquamarine;
  }

  .Block2__title {
    padding-top: 120px;

    @media screen and(max-width:576px) {
      padding-top: 80px;
    }
  }

  h2 {
    font-family: 'SFProDisplay-Bold';
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;

    @media screen and(max-width:576px) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .Block2__cards {
    padding-top: 60px;

    .Block2__cardCol {
      padding-bottom: 50px;

      @media screen and(max-width:576px) {
        padding: 20px;
      }
    }

    @media screen and(max-width:576px) {
      padding-top: 20px;
    }
  }

  @media screen and(max-width: 1920px) {
  }
}
