.Block6 {
  background-color: #E5E5E5;;
  min-height: 400px;
  padding: 100px 0;
  .ButtonComponent {
    // background-color: aquamarine;
  }
  .Block6__card-deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Block6__card{
    margin: 40px 10px;
    width: 400px;
  }

  .Block6__card-img{
    border-radius: 8px;

    img{
      border-radius: 8px;
    }
  }

  .Block6__card-text{
    font-family: 'TT Norms', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #696969;

    h5{
      margin: 50px 0;
    }
  }

  @media screen and(max-width: 1920px) {
    
  }
}