.ButtonComponent {
  .ButtonComponent__default {
    background-color: #1dacd6;
    color: #ffffff;
    border-radius: 8px;
    padding: 24px;
    padding-left: 48px;
    padding-right: 48px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    font-family: 'TTNorms-Bold';
    font-size: 20px;
    line-height: 24px;
  }

  cursor: pointer;
}
