.App {
  .swiper-controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    margin-bottom: 65px;
  }

  .swiper-btn {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
  .swiper-button-disabled {
    opacity: 0.5;
    &:hover {
      cursor: default;
    }
  }

  .swiper-next {
    background-image: url('../public/img/right.svg');
  }
  .swiper-prev {
    background-image: url('../public/img/left.svg');
    margin-right: 30px;
  }
}